header {
    width: 100%;
    height: 60px;
    margin-top: 50px;
    top : 0;
    left : 0;
    text-align: center;
}

.head-button{
    float: right;
    margin-right: 6%;
    width: 120px;
    height: 50px;
    font-size:30px;
    color: white;
    line-height: 50px;
    text-align: center;
    background: black;
    border: solid 2px;
    border-radius: 17px;
}
.head-selectbox{
    float: left;
    margin-left: 6%;
}


.head-title{
    font-weight: bold;
    font-size: 50px;
    color: gray;
}
.title{
    margin-left: 350px;
    margin-top: 80px;
}

.ToDoMain {
    display: inline-block;
    width: 200px;
    height: 30px;
    border: 2px solid black;
    overflow: auto;
}

.In_progressMain {
    display: inline-block;
    width: 200px;
    height: 30px;
    border: 2px solid black;
    overflow: auto;
}

.DoneMain {
    display: inline-block;
    width: 200px;
    height: 30px;
    border: 2px solid black;
    overflow: auto;
}


.kanban_wrap{
    width:100%;
    height:800px;
    margin:0px auto;
    padding:0px;
    overflow:hidden;
    text-align: center;
}
.content{
    width:90%;
    height:90%;
    margin:24px auto;
    padding:0px;
    overflow:hidden;
    text-align:center;
}

.content > div {
    float:left;
    color:black;
    width:33%;
    height:100%;
    text-align: center;
    box-sizing:border-box;
}

.item{
    font-size: 30px;
    padding: 10px 10px;
    margin: 2px 2px;
    font-weight: bold;
}

.item-todo{
    border: 2px solid blue;
}

.item-inprogress{
    border: 2px solid red;
}

.item-done{
    border: 2px solid gray;
}

.modal {
    position: absolute;
    background: white;
    padding: 20px 20px;
    top: 10%;
    left: 35%;
    width: 400px;
    height: 350px;
    border: 2px solid black;

}
.modal-title {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 15px;
}
.modal-date{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.todoItem{
    border: 2px solid;
    margin: 1px 1px;
    height: 120px;
    background-color: white;
    padding: 10px 50px;
}
.item_content{
    display: inline-block;
    float: left;
}


.item_button{
    display: inline-block;
    /*margin-top: 5px;*/
    margin: 5px 5px;
    float:right;

}


.dropzone{
    height: 7px;
    transition: background 0.15s, height 0.15s;
}

.dropzone_active {
    height: 30px;
    background: rgba(0, 0, 0, 0.25);
}
.hidden {
    display: none;
}

.closeBtn {
    float: right;
    margin-right: 25px;
    width: 100px;
    height: 45px;
    font-size:20px;
    color: white;
    line-height: 50px;
    text-align: center;
    background: black;
    border: solid 2px;
    border-radius: 17px;
}

.upSuccessBtn {
    float: right;
    margin-right: 25px;
    width: 100px;
    height: 45px;
    font-size:20px;
    color: white;
    line-height: 50px;
    text-align: center;
    background: black;
    border: solid 2px;
    border-radius: 17px;
}
