header {
    width: 100%;
    height: 60px;
    margin-top: 50px;
    top : 0;
    left : 0;
    text-align: center;
}

.head-button{
    float: right;
    margin-right: 6%;
    width: 120px;
    height: 50px;
    font-size:30px;
    color: white;
    line-height: 50px;
    text-align: center;
    background: black;
    border: solid 2px;
    border-radius: 17px;
}

.head-title{
    font-weight: bold;
    font-size: 50px;
    color: gray;
}
.title{
    margin-left: 350px;
    margin-top: 80px;
}

.todo {
    display: inline-block;
    width: 200px;
    height: 30px;
    border: 2px solid black;
}

.inprogress {
    display: inline-block;
    width: 200px;
    height: 30px;
    border: 2px solid black;
}

.done {
    display: inline-block;
    width: 200px;
    height: 30px;
    border: 2px solid black;
}


.kanban_wrap{
    width:100%;
    height:800px;
    margin:0px auto;
    padding:0px;
    overflow:hidden;
    text-align: center;
}
.content{
    width:90%;
    height:90%;
    margin:24px auto;
    padding:0px;
    overflow:hidden;
    text-align:center;
}

.content > div {
    float:left;
    color:black;
    width:33%;
    height:100%;
    text-align: center;
    box-sizing:border-box;
}

.item{
    font-size: 30px;
    padding: 10px 10px;
    margin: 2px 2px;
    font-weight: bold;
}

.item-todo{
    border: 2px solid blue;
}

.item-inprogress{
    border: 2px solid red;
}

.item-done{
    border: 2px solid gray;
}

.modal {
    position: absolute;
    background: white;
    padding: 24px 16px;
    top: 10%;
    left: 35%;
    width: 400px;
    height: 300px;
    border: 2px solid #f2b441;

}
.modal-title {
    font-size: 24px;
    font-weight: bold;
}

.todoItem{
    border: 2px solid;
    padding: 10px 10px;
    margin: 2px 2px;
    font-weight: bold;
}
.dropzone{
    height: 7px;
    transition: background 0.15s, height 0.15s;
}

.dropzone_active {
    height: 25px;
    background: rgba(0, 0, 0, 0.25);
}
.hidden {
    display: none;
}